body{
    background-color: antiquewhite;
}

h1{
    text-align: justify;
    color: rgb(97, 72, 72);
}
.creatHead img{
    margin-block-start: auto;
height: 300px;
}
.name p{
    margin-left: 10px ;
    color: rgb(83, 185, 185);
}
.name{
    margin: 20px;
    background-color: rgba(0, 255, 255,0.2);
    display: inline-block;
    width: 270px;
}
.name ::placeholder{
    text-align: right;
}
.name input{
    margin-left: 20px;
    margin-block: 10px;
}
